{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    {{ include('note/_form.html.twig') }}
    {{ include('tag/_form.html.twig') }}
    <div class="d-flex flex-column align-items-center">
        <a href="{{ path('note_index') }}">
            <button class="btn btn-info mt-3">back to list</button>
        </a>
    </div>
{% endblock %}
