{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
    <h1>All my notes</h1>


    <div class="container">
        <div class="d-flex flex-row justify-content-around ">
            {% for note in notes %}
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">{{ note.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">'{{ note.text }}''</p>
                        <h6 class="card-title">tags</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('note_new') }}">
        <button type="button" class="btn btn-success">Add a note</button>
    </a>
{% endblock %}
